In [1]:
from fastai.imports import *

```py
df = pd.DataFrame(
    {'Date':['3/7/2024'],
     'Time':['8:53 PM'],
     'AA-Battery': [3.197],
     'Lipo-Battery':[None]
    })
df
```

```py
new_row = {'Date':'6/7/2024',
     'Time':'11:48 AM',
     'AA-Battery': None,
     'Lipo-Battery':12.61
    }

df = df._append(new_row, ignore_index=True)
df
```

```py
df = df.drop(2)
df
```

In [82]:
df = pd.read_csv('./battery_data/battery_data.csv', index_col=0)

In [83]:
df['Date'] + ' ' + df['Time']

0     3/7/2024 8:53 PM
1    6/7/2024 11:48 AM
2     9/7/2024 3:14 PM
3    15/7/2024 4:53 PM
dtype: object

In [84]:
df['datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %I:%M %p')

In [42]:
def append_data(df, date, time, aa, lipo):
    new_row = {'Date':date,
     'Time':time,
     'AA-Battery':aa,
     'Lipo-Battery':lipo
    }
    
    filtered = {k: v for k, v in new_row.items() if v is not None}

    return df._append(filtered, ignore_index=True)

df = append_data(
    df,
    '15/7/2024',
    '4:53 PM',
    3.072,
    12.54
    )
# date,time,aa,lipo = new_row.values()

In [85]:
df

        Date      Time  AA-Battery  Lipo-Battery            datetime
0   3/7/2024   8:53 PM       3.197           NaN 2024-07-03 20:53:00
1   6/7/2024  11:48 AM         NaN         12.61 2024-07-06 11:48:00
2   9/7/2024   3:14 PM       3.117         12.59 2024-07-09 15:14:00
3  15/7/2024   4:53 PM       3.072         12.54 2024-07-15 16:53:00

In [51]:
# df.to_csv('./battery_data/battery_data.csv')

In [57]:
df.dtypes

Date             object
Time             object
AA-Battery      float64
Lipo-Battery    float64
dtype: object

df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

In [86]:
df.dtypes

Date                    object
Time                    object
AA-Battery             float64
Lipo-Battery           float64
datetime        datetime64[ns]
dtype: object

In [62]:
df.Date.describe()

count                      4
mean     2024-07-08 06:00:00
min      2024-07-03 00:00:00
25%      2024-07-05 06:00:00
50%      2024-07-07 12:00:00
75%      2024-07-10 12:00:00
max      2024-07-15 00:00:00
Name: Date, dtype: object

In [101]:
def to_hours(days):
    return days * 24

def in_months(days):
    return days / 30

In [94]:
diff_batt_time = df.datetime.max() - df.datetime.min()
diff_batt_time_hours = to_hours(diff_batt_time.days)

In [97]:
diff_batt = df['AA-Battery'].max() - df['AA-Battery'].min()

battery_drain_per_day = diff_batt / diff_batt_time.days

In [98]:
battery_drain_per_day

0.011363636363636364

In [104]:
max_battery_AA = 3.19
min_mcu_vdd = 2.0

days_before_kong = (max_battery_AA - min_mcu_vdd) / battery_drain_per_day

days_before_kong

104.72

In [105]:
in_months(days_before_kong)

3.490666666666667

In [109]:
diff_lipo_time = df['datetime'].max() - df['datetime'][1]

diff_lipo_batt = df['Lipo-Battery'].max() - df['Lipo-Battery'].min()

lipo_drain_per_day = diff_lipo_batt / diff_lipo_time.days

In [110]:
lipo_drain_per_day

0.00777777777777781

In [113]:
max_battery_Lipo = 12.6
min_lipo = 9.0

days_before_lipo_kong = (max_battery_Lipo - min_lipo) / lipo_drain_per_day

days_before_lipo_kong

462.8571428571409

In [114]:
in_months(days_before_lipo_kong)

15.428571428571363