In [1]:
from fastai.imports import *

In [32]:
df = pd.read_csv('./references/09 data clean.csv')
df.head()

,ID,Home,Age,Religion,Ethnicity,Education,Occupation,Income,Marital,Smoke,Smoking,Alcohol,Partner,P_Age,P_Education,P_Occupation,P_Alcohol,P_Drugs,P_Fights,P_Women,P_Child,SectionCQ1,SectionCQ2,SectionCQ3,SectionCQ4,SectionCQ5,SectionCQ6,SectionCQ7,SectionCQ8,SectionCQ9,SectionCQ10,SectionCQ11,SectionCQ12,SectionCQ13,SectionCQ14,SectionCQ15,SectionCQ16,SectionCQ17,SectionCQ18,SectionCQ19,SectionCQ20,SectionCQ21,SectionCQ22,SectionCQ23,SectionCQ24,SectionCQ25,SectionCQ26,SectionCQ27,SectionCQ28,SectionCQ29,SectionCQ30,SectionCQ31,SectionCQ32,SectionCQ33,SectionCQ34,SectionCQ35,SectionCQ36,SectionCQ37,SectionCQ38,SectionCQ39,SectionCQ40,SectionCQ41,SectionCQ42,SectionCQ43,SectionCQ44,SectionDQ1,SectionDQ1a,SectionDQ2,SectionDQ2a,SectionDQ3,SectionDQ3a,SectionDQ4,SectionDQ5,PHQ1,PHQ2,PHQ3,PHQ4,PHQ5,PHQ6,PHQ7,PHQ8,PHQ9,PHQ10,TPHQ,LDEPRESSION,PDEPRESSION,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,TANXIETY,Lanxiety,Panxiety,PCL1,PCL2,PCL3,PCL4,PCL5,PCL6,PCL7,PCL8,PCL9,PCL10,PCL11,PCL12,PCL13,PCL14,PCL15,PCL16,PCL17,PCL18,PCL19,PCL20,TPCL,PPTSD,MINI1,MINI1a,MINI2,MINI2a,MINI3,MINI4,MINI5,MINI6,MINI7,MINI8,MINI9,MINI10,MINI11,MINIdepression,EV,CB,PV,SV,IPV,filter_$,religionnew,ethnicitynew,incomenew,maritalnew,educationnew,occupationnew,smokenew,alcoholnew,partnernew
0,7,1,17,3,3,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,1,1,1,1,1,2,1,0,3,3,2,0,3,1,1,3,1,16,4,0,3,3,3,3,1,2,2,17,4,1,3,2,3,3,3,1,2,3,1,2,3,3,1,3,2,1,1,3,1,1,42,1,1,1,1,1,2,2,2,2,2,1,2,2,1,0,0,0,0,0,0,0,0,0,1,1,1,3,0,0,0
1,9,1,15,1,5,1,4,1,1,3,3,7,4,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,2,,1,89,2,,2,1,1,3,0,3,2,3,2,2,1,3,17,4,0,1,0,3,1,0,2,1,8,2,0,4,0,3,4,1,4,0,0,4,0,4,2,4,2,4,0,2,0,2,4,44,1,2,,2,,,,,,,,,,,0,0,0,0,0,0,0,1,0,1,1,0,3,0,0,0
2,11,1,14,1,1,1,2,1,1,3,3,7,2,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,1,1,1,1,1,1,1,3,3,3,3,3,3,3,3,3,3,27,5,1,3,3,3,3,3,2,3,20,4,1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,80,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1,1,1,0,1,0,0,0
3,15,1,15,1,1,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,34,1,13,1,13,4,2,0,0,1,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,,2,,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,1,1,1,1,1,3,0,0,0
4,43,1,17,1,1,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,2,2,,2,,13,1,1,1,2,2,3,3,3,1,2,1,18,4,0,1,1,0,0,1,2,1,6,2,0,3,2,2,3,2,2,2,1,3,3,3,3,3,2,2,2,1,2,3,3,47,1,2,,1,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,1,1,1,1,1,3,0,0,0

In [33]:
pd.set_option('display.max_columns', None)
df.head()

,ID,Home,Age,Religion,Ethnicity,Education,Occupation,Income,Marital,Smoke,Smoking,Alcohol,Partner,P_Age,P_Education,P_Occupation,P_Alcohol,P_Drugs,P_Fights,P_Women,P_Child,SectionCQ1,SectionCQ2,SectionCQ3,SectionCQ4,SectionCQ5,SectionCQ6,SectionCQ7,SectionCQ8,SectionCQ9,SectionCQ10,SectionCQ11,SectionCQ12,SectionCQ13,SectionCQ14,SectionCQ15,SectionCQ16,SectionCQ17,SectionCQ18,SectionCQ19,SectionCQ20,SectionCQ21,SectionCQ22,SectionCQ23,SectionCQ24,SectionCQ25,SectionCQ26,SectionCQ27,SectionCQ28,SectionCQ29,SectionCQ30,SectionCQ31,SectionCQ32,SectionCQ33,SectionCQ34,SectionCQ35,SectionCQ36,SectionCQ37,SectionCQ38,SectionCQ39,SectionCQ40,SectionCQ41,SectionCQ42,SectionCQ43,SectionCQ44,SectionDQ1,SectionDQ1a,SectionDQ2,SectionDQ2a,SectionDQ3,SectionDQ3a,SectionDQ4,SectionDQ5,PHQ1,PHQ2,PHQ3,PHQ4,PHQ5,PHQ6,PHQ7,PHQ8,PHQ9,PHQ10,TPHQ,LDEPRESSION,PDEPRESSION,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,TANXIETY,Lanxiety,Panxiety,PCL1,PCL2,PCL3,PCL4,PCL5,PCL6,PCL7,PCL8,PCL9,PCL10,PCL11,PCL12,PCL13,PCL14,PCL15,PCL16,PCL17,PCL18,PCL19,PCL20,TPCL,PPTSD,MINI1,MINI1a,MINI2,MINI2a,MINI3,MINI4,MINI5,MINI6,MINI7,MINI8,MINI9,MINI10,MINI11,MINIdepression,EV,CB,PV,SV,IPV,filter_$,religionnew,ethnicitynew,incomenew,maritalnew,educationnew,occupationnew,smokenew,alcoholnew,partnernew
0,7,1,17,3,3,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,1,1,1,1,1,2,1,0,3,3,2,0,3,1,1,3,1,16,4,0,3,3,3,3,1,2,2,17,4,1,3,2,3,3,3,1,2,3,1,2,3,3,1,3,2,1,1,3,1,1,42,1,1,1,1,1,2,2,2,2,2,1,2,2,1,0,0,0,0,0,0,0,0,0,1,1,1,3,0,0,0
1,9,1,15,1,5,1,4,1,1,3,3,7,4,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,2,,1,89,2,,2,1,1,3,0,3,2,3,2,2,1,3,17,4,0,1,0,3,1,0,2,1,8,2,0,4,0,3,4,1,4,0,0,4,0,4,2,4,2,4,0,2,0,2,4,44,1,2,,2,,,,,,,,,,,0,0,0,0,0,0,0,1,0,1,1,0,3,0,0,0
2,11,1,14,1,1,1,2,1,1,3,3,7,2,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,1,1,1,1,1,1,1,3,3,3,3,3,3,3,3,3,3,27,5,1,3,3,3,3,3,2,3,20,4,1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,80,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1,1,1,0,1,0,0,0
3,15,1,15,1,1,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,34,1,13,1,13,4,2,0,0,1,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,,2,,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,1,1,1,1,1,3,0,0,0
4,43,1,17,1,1,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,2,2,2,2,1,2,2,2,2,2,2,2,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,2,3,3,4,4,4,4,5,1,2,2,,2,,13,1,1,1,2,2,3,3,3,1,2,1,18,4,0,1,1,0,0,1,2,1,6,2,0,3,2,2,3,2,2,2,1,3,3,3,3,3,2,2,2,1,2,3,3,47,1,2,,1,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0,1,1,1,1,1,3,0,0,0

In [34]:
df.columns.get_loc('SectionCQ1')

21

In [35]:
df.columns.get_loc('TPHQ')

83

In [36]:
df = df.drop(df.columns[21:84], axis=1) # axis: 0 = rows, 1 = columns

In [37]:
df.columns.get_loc('GAD1')

23

In [38]:
df.columns.get_loc('TANXIETY')

30

In [39]:
df = df.drop(df.columns[23:31], axis=1) # axis: 0 = rows, 1 = columns

In [40]:
df.columns.get_loc('PCL1')

25

In [41]:
df.columns.get_loc('TPCL')

45

In [42]:
df = df.drop(df.columns[25:46], axis=1) # axis: 0 = rows, 1 = columns

In [43]:
df.columns.get_loc('MINI1')

26

In [44]:
df.columns.get_loc('MINI11')

38

In [45]:
df = df.drop(df.columns[26:39], axis=1) # axis: 0 = rows, 1 = columns

In [46]:
df.shape

(91, 42)

In [47]:
df.columns.get_loc('filter_$')

32

In [48]:
df = df.drop(df.columns[32:], axis=1) # axis: 0 = rows, 1 = columns

In [49]:
df.head()

,ID,Home,Age,Religion,Ethnicity,Education,Occupation,Income,Marital,Smoke,Smoking,Alcohol,Partner,P_Age,P_Education,P_Occupation,P_Alcohol,P_Drugs,P_Fights,P_Women,P_Child,LDEPRESSION,PDEPRESSION,Lanxiety,Panxiety,PPTSD,MINIdepression,EV,CB,PV,SV,IPV
0,7,1,17,3,3,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,4,0,4,1,1,0,0,0,0,0,0
1,9,1,15,1,5,1,4,1,1,3,3,7,4,,6,6,7,7,4,5,6,4,0,2,0,1,0,0,0,0,0,0
2,11,1,14,1,1,1,2,1,1,3,3,7,2,,6,6,7,7,4,5,6,5,1,4,1,1,1,0,0,0,0,0
3,15,1,15,1,1,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,1,0,1,0,0,0,0,0,0,0,0
4,43,1,17,1,1,2,4,1,1,3,3,7,1,,6,6,7,7,4,5,6,4,0,2,0,1,0,0,0,0,0,0

In [55]:
df['Home'] = df.Home.replace(1, 'JKM/MAIS')

In [60]:
df['Home'] = df.Home.replace(2, 'NGO')

In [64]:
df.Home.describe()

count           91
unique           2
top       JKM/MAIS
freq            64
Name: Home, dtype: object

In [63]:
df.Home.unique()

array(['JKM/MAIS', 'NGO'], dtype=object)

In [70]:
df['Religion'] = df.Religion.replace(1, 'Muslim')
df['Religion'] = df.Religion.replace(2, 'Buddhist')
df['Religion'] = df.Religion.replace(3, 'Hinduism')
df['Religion'] = df.Religion.replace(4, 'Christian')

In [71]:
df.Religion.describe()

count         91
unique         4
top       Muslim
freq          86
Name: Religion, dtype: object

In [72]:
df.Religion.unique()

array(['Hinduism', 'Muslim', 'Buddhist', 'Christian'], dtype=object)

In [82]:
df['Ethnicity'] = df.Ethnicity.replace(1, 'Malay')
df['Ethnicity'] = df.Ethnicity.replace(2, 'Chinese')
df['Ethnicity'] = df.Ethnicity.replace(3, 'Indian')
df['Ethnicity'] = df.Ethnicity.replace(4, 'Bumiputera_4')
df['Ethnicity'] = df.Ethnicity.replace(5, 'Bumiputera_5')
df['Ethnicity'] = df.Ethnicity.replace(6, 'Others')

In [83]:
df.Ethnicity.describe()

count        91
unique        6
top       Malay
freq         81
Name: Ethnicity, dtype: object

In [84]:
df.Ethnicity.unique()

array(['Indian', 'Bumiputera_5', 'Malay', 'Chinese', 'Bumiputera_4',
       'Others'], dtype=object)

In [94]:
df['Education'] = df.Education.replace(1, 'Primary')
df['Education'] = df.Education.replace(2, 'Secondary')
df['Education'] = df.Education.replace(3, 'Higher')
df['Education'] = df.Education.replace(4, 'No_Formal')

In [95]:
df.Education.describe()

count            91
unique            4
top       Secondary
freq             69
Name: Education, dtype: object

In [96]:
df.Education.unique()

array(['Secondary', 'Primary', 'No_Formal', 'Higher'], dtype=object)

In [104]:
df['Occupation'] = df.Occupation.replace(1, 'Working')
df['Occupation'] = df.Occupation.replace(2, 'Looking')
df['Occupation'] = df.Occupation.replace(3, 'Retired')
df['Occupation'] = df.Occupation.replace(4, 'Studying')

In [105]:
df.Occupation.describe()

count           91
unique           4
top       Studying
freq            51
Name: Occupation, dtype: object

In [106]:
df.Occupation.unique()

array(['Studying', 'Looking', 'Working', 'Retired'], dtype=object)

In [112]:
df['Income'] = df.Income.replace(1, 'B40')
df['Income'] = df.Income.replace(2, 'M40')
df['Income'] = df.Income.replace(3, 'T20')

In [113]:
df.Income.describe()

count      91
unique      3
top       B40
freq       73
Name: Income, dtype: object

In [114]:
df.Income.unique()

array(['B40', 'M40', 'T20'], dtype=object)

In [121]:
df['Marital'] = df.Marital.replace(1, 'Single')
df['Marital'] = df.Marital.replace(2, 'Married')
df['Marital'] = df.Marital.replace(3, 'Widowed')

In [122]:
df.Marital.describe()

count         91
unique         3
top       Single
freq          85
Name: Marital, dtype: object

In [123]:
df.Marital.unique()

array(['Single', 'Widowed', 'Married'], dtype=object)

In [134]:
df['Smoke'] = df.Smoke.replace(1, 'Everyday')
df['Smoke'] = df.Smoke.replace(2, 'Not_Everyday')
df['Smoke'] = df.Smoke.replace(3, 'Not_Smoke')

In [135]:
df.Smoke.describe()

count            91
unique            3
top       Not_Smoke
freq             67
Name: Smoke, dtype: object

In [136]:
df.Smoke.unique()

array(['Not_Smoke', 'Everyday', 'Not_Everyday'], dtype=object)

In [144]:
df['Smoking'] = df.Smoking.replace(1, 'Everyday')
df['Smoking'] = df.Smoking.replace(2, 'Not_Everyday')
df['Smoking'] = df.Smoking.replace(3, 'Not_Smoke')

In [145]:
df.Smoking.describe()

count            91
unique            3
top       Not_Smoke
freq             41
Name: Smoking, dtype: object

In [146]:
df.Smoking.unique()

array(['Not_Smoke', 'Everyday', 'Not_Everyday'], dtype=object)

In [158]:
df['Alcohol'] = df.Alcohol.replace(1, 'Everyday')
df['Alcohol'] = df.Alcohol.replace(2, 'Once_Or')
df['Alcohol'] = df.Alcohol.replace(3, '1-3_Times')
df['Alcohol'] = df.Alcohol.replace(4, 'Less_Than')
df['Alcohol'] = df.Alcohol.replace(5, '1-2_TImes')
df['Alcohol'] = df.Alcohol.replace(6, 'Not_Drinking')
df['Alcohol'] = df.Alcohol.replace(7, 'Never')

In [159]:
df.Alcohol.describe()

count        91
unique        7
top       Never
freq         54
Name: Alcohol, dtype: object

In [160]:
df.Alcohol.unique()

array(['Never', 'Less_Than', 'Once_Or', 'Not_Drinking', '1-3_Times',
       'Everyday', '1-2_TImes'], dtype=object)

In [169]:
df['Partner'] = df.Partner.replace(1, 'No')
df['Partner'] = df.Partner.replace(2, 'Yes_2')
df['Partner'] = df.Partner.replace(3, 'Yes_3')
df['Partner'] = df.Partner.replace(4, 'Yes_4')
df['Partner'] = df.Partner.replace(5, 'Yes_More')

In [170]:
df.Partner.describe()

count     91
unique     5
top       No
freq      45
Name: Partner, dtype: object

In [171]:
df.Partner.unique()

array(['No', 'Yes_4', 'Yes_2', 'Yes_More', 'Yes_3'], dtype=object)

In [180]:
df['P_Education'] = df.P_Education.replace(1, 'Primary')
df['P_Education'] = df.P_Education.replace(2, 'Secondary')
df['P_Education'] = df.P_Education.replace(3, 'College')
df['P_Education'] = df.P_Education.replace(4, 'No_Formal')
df['P_Education'] = df.P_Education.replace(5, 'Not_Sure')
df['P_Education'] = df.P_Education.replace(6, 'No_Partner')

In [185]:
df.P_Education.describe()

count            91
unique            6
top       Secondary
freq             44
Name: P_Education, dtype: object

In [186]:
df.P_Education.unique()

array(['No_Partner', 'Secondary', 'Primary', 'No_Formal', 'College',
       'Not_Sure'], dtype=object)

In [196]:
df['P_Occupation'] = df.P_Occupation.replace(1, 'Working')
df['P_Occupation'] = df.P_Occupation.replace(2, 'Looking_For')
df['P_Occupation'] = df.P_Occupation.replace(3, 'Retired')
df['P_Occupation'] = df.P_Occupation.replace(4, 'Studying')
df['P_Occupation'] = df.P_Occupation.replace(5, 'Not_Sure')
df['P_Occupation'] = df.P_Occupation.replace(6, 'No_Partner')

In [197]:
df.P_Occupation.describe()

count          91
unique          6
top       Working
freq           69
Name: P_Occupation, dtype: object

In [198]:
df.P_Occupation.unique()

array(['No_Partner', 'Studying', 'Working', 'Not_Sure', 'Retired',
       'Looking_For'], dtype=object)

In [209]:
df['P_Alcohol'] = df.P_Alcohol.replace(1, 'Everyday')
df['P_Alcohol'] = df.P_Alcohol.replace(2, 'Once_Or')
df['P_Alcohol'] = df.P_Alcohol.replace(3, '1-3_Times')
df['P_Alcohol'] = df.P_Alcohol.replace(4, 'Less_Than')
df['P_Alcohol'] = df.P_Alcohol.replace(5, 'Never')
df['P_Alcohol'] = df.P_Alcohol.replace(6, 'Dont_Know')
df['P_Alcohol'] = df.P_Alcohol.replace(7, 'No_Partner')

In [210]:
df.P_Alcohol.describe()

count            91
unique            7
top       Dont_Know
freq             30
Name: P_Alcohol, dtype: object

In [211]:
df.P_Alcohol.unique()

array(['No_Partner', 'Never', 'Dont_Know', 'Everyday', 'Once_Or',
       '1-3_Times', 'Less_Than'], dtype=object)

In [227]:
df['P_Drugs'] = df.P_Drugs.replace(1, 'Everyday')
df['P_Drugs'] = df.P_Drugs.replace(2, 'Once_to')
df['P_Drugs'] = df.P_Drugs.replace(3, '1-3_Times')
df['P_Drugs'] = df.P_Drugs.replace(4, 'Less_Than')
df['P_Drugs'] = df.P_Drugs.replace(5, 'Never')
df['P_Drugs'] = df.P_Drugs.replace(6, 'Dont_Know')
df['P_Drugs'] = df.P_Drugs.replace(7, 'No_Partner')

In [228]:
df.P_Drugs.describe()

count        91
unique        7
top       Never
freq         44
Name: P_Drugs, dtype: object

In [229]:
df.P_Drugs.unique()

array(['No_Partner', 'Never', 'Dont_Know', 'Less_Than', 'Once_to',
       'Everyday', '1-3_Times'], dtype=object)

In [237]:
df['P_Fights'] = df.P_Fights.replace(1, 'Yes')
df['P_Fights'] = df.P_Fights.replace(2, 'No')
df['P_Fights'] = df.P_Fights.replace(3, 'Dont_Know')
df['P_Fights'] = df.P_Fights.replace(4, 'No_Partner')

In [238]:
df.P_Fights.describe()

count     91
unique     4
top       No
freq      33
Name: P_Fights, dtype: object

In [239]:
df.P_Fights.unique()

array(['No_Partner', 'Dont_Know', 'No', 'Yes'], dtype=object)

In [248]:
df['P_Women'] = df.P_Women.replace(1, 'Yes')
df['P_Women'] = df.P_Women.replace(2, 'No')
df['P_Women'] = df.P_Women.replace(3, 'Maybe')
df['P_Women'] = df.P_Women.replace(4, 'Dont_Know')
df['P_Women'] = df.P_Women.replace(5, 'No_Partner')

In [249]:
df.P_Women.describe()

count     91
unique     5
top       No
freq      34
Name: P_Women, dtype: object

In [250]:
df.P_Women.unique()

array(['No_Partner', 'No', 'Dont_Know', 'Maybe', 'Yes'], dtype=object)

In [260]:
df['P_Child'] = df.P_Child.replace(1, 'Yes')
df['P_Child'] = df.P_Child.replace(2, 'No')
df['P_Child'] = df.P_Child.replace(3, 'Maybe')
df['P_Child'] = df.P_Child.replace(4, 'Dont_Know')
df['P_Child'] = df.P_Child.replace(5, 'No_Relation')
df['P_Child'] = df.P_Child.replace(6, 'No_Partner')

In [261]:
df.P_Child.describe()

count     91
unique     6
top       No
freq      49
Name: P_Child, dtype: object

In [262]:
df.P_Child.unique()

array(['No_Partner', 'No', 'Dont_Know', 'No_Relation', 'Yes', 'Maybe'],
      dtype=object)

In [274]:
# bins = [-1, 0, np.inf]
bins = [-1, 0, 1]
names = ['No', 'Yes']

df['PDEPRESSION'] = pd.cut(df['PDEPRESSION'], bins, labels=names)

In [275]:
df.PDEPRESSION.describe()

count     91
unique     2
top       No
freq      70
Name: PDEPRESSION, dtype: object

In [276]:
df.PDEPRESSION.unique()

['No', 'Yes']
Categories (2, object): ['No' < 'Yes']

In [278]:
df['LDEPRESSION'] = df['LDEPRESSION'].astype('category')

In [279]:
df.LDEPRESSION.describe()

count     91
unique     5
top        3
freq      24
Name: LDEPRESSION, dtype: int64

In [280]:
df.LDEPRESSION.unique()

[4, 5, 1, 2, 3]
Categories (5, int64): [1, 2, 3, 4, 5]

In [287]:
# df.iloc[:, -3:] = df.iloc[:, -3:].astype('category')
df.iloc[:, -18:] = df.iloc[:, -18:].astype('object')
df.iloc[:, -18:] = df.iloc[:, -18:].astype('category')

In [297]:
df.P_Age.unique()

array([None, '14', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '29', '30', '31', '32', '36', '38', '40', '56'],
      dtype=object)

In [310]:
df.Age.unique()

array([17, 15, 14, 13, 16, 12, 21, 20, 18, 19, 23, 22, 38, 31, 37, 29, 39,
       54], dtype=int64)

In [296]:
df['P_Age'] = df.P_Age.replace(' ', None)

In [330]:
df['P_Age'] = df.loc[:, 'P_Age'].astype('int64')

In [318]:
df['P_Age'] = df.P_Age.fillna(0)

C:\Users\shamy\AppData\Local\Temp\ipykernel_21184\3383886903.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['P_Age'] = df.P_Age.fillna(0)

In [306]:
df.isna().any()

ID                False
Home              False
Age               False
Religion          False
Ethnicity         False
Education         False
Occupation        False
Income            False
Marital           False
Smoke             False
Smoking           False
Alcohol           False
Partner           False
P_Age             False
P_Education       False
P_Occupation      False
P_Alcohol         False
P_Drugs           False
P_Fights          False
P_Women           False
P_Child           False
LDEPRESSION       False
PDEPRESSION       False
Lanxiety          False
Panxiety          False
PPTSD             False
MINIdepression    False
EV                False
CB                False
PV                False
SV                False
IPV               False
dtype: bool

In [331]:
df.dtypes

ID                   int64
Home              category
Age                  int64
Religion          category
Ethnicity           object
Education           object
Occupation          object
Income              object
Marital             object
Smoke               object
Smoking             object
Alcohol             object
Partner             object
P_Age                int64
P_Education         object
P_Occupation        object
P_Alcohol           object
P_Drugs             object
P_Fights            object
P_Women             object
P_Child             object
LDEPRESSION       category
PDEPRESSION       category
Lanxiety          category
Panxiety          category
PPTSD             category
MINIdepression    category
EV                category
CB                category
PV                category
SV                category
IPV               category
dtype: object

In [266]:
df.loc[df.PDEPRESSION == 0].head()

,ID,Home,Age,Religion,Ethnicity,Education,Occupation,Income,Marital,Smoke,Smoking,Alcohol,Partner,P_Age,P_Education,P_Occupation,P_Alcohol,P_Drugs,P_Fights,P_Women,P_Child,LDEPRESSION,PDEPRESSION,Lanxiety,Panxiety,PPTSD,MINIdepression,EV,CB,PV,SV,IPV
0,7,JKM/MAIS,17,Hinduism,Indian,Secondary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,No,,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,4,0,4,1,1,0,0,0,0,0,0
1,9,JKM/MAIS,15,Muslim,Bumiputera_5,Primary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,Yes_4,,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,4,0,2,0,1,0,0,0,0,0,0
3,15,JKM/MAIS,15,Muslim,Malay,Secondary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,No,,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,1,0,1,0,0,0,0,0,0,0,0
4,43,JKM/MAIS,17,Muslim,Malay,Secondary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,No,,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,4,0,2,0,1,0,0,0,0,0,0
5,63,JKM/MAIS,15,Muslim,Malay,Secondary,Studying,M40,Single,Not_Smoke,Not_Smoke,Never,No,,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,4,0,4,1,1,1,0,0,0,0,0

In [316]:
df.head()

,ID,Home,Age,Religion,Ethnicity,Education,Occupation,Income,Marital,Smoke,Smoking,Alcohol,Partner,P_Age,P_Education,P_Occupation,P_Alcohol,P_Drugs,P_Fights,P_Women,P_Child,LDEPRESSION,PDEPRESSION,Lanxiety,Panxiety,PPTSD,MINIdepression,EV,CB,PV,SV,IPV
0,7,JKM/MAIS,17,Hinduism,Indian,Secondary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,No,0.0,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,4,No,4,1,1,0,0,0,0,0,0
1,9,JKM/MAIS,15,Muslim,Bumiputera_5,Primary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,Yes_4,0.0,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,4,No,2,0,1,0,0,0,0,0,0
2,11,JKM/MAIS,14,Muslim,Malay,Primary,Looking,B40,Single,Not_Smoke,Not_Smoke,Never,Yes_2,0.0,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,5,Yes,4,1,1,1,0,0,0,0,0
3,15,JKM/MAIS,15,Muslim,Malay,Secondary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,No,0.0,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,1,No,1,0,0,0,0,0,0,0,0
4,43,JKM/MAIS,17,Muslim,Malay,Secondary,Studying,B40,Single,Not_Smoke,Not_Smoke,Never,No,0.0,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,No_Partner,4,No,2,0,1,0,0,0,0,0,0

In [86]:
df.shape

(91, 32)

In [69]:
df.iloc[14]

ID                      20
Home              JKM/MAIS
Age                     14
Religion                 4
Ethnicity                4
Education                2
Occupation               4
Income                   1
Marital                  1
Smoke                    2
Smoking                  2
Alcohol                  3
Partner                  4
P_Age                   17
P_Education              2
P_Occupation             1
P_Alcohol                6
P_Drugs                  6
P_Fights                 3
P_Women                  4
P_Child                  4
LDEPRESSION              3
PDEPRESSION              0
Lanxiety                 4
Panxiety                 1
PPTSD                    1
MINIdepression           1
EV                       1
CB                       0
PV                       0
SV                       1
IPV                      1
Name: 14, dtype: object

In [319]:
df['Religion'] = pd.Categorical(df.Religion)

In [328]:
df['Home'] = pd.Categorical(df.iloc[:, 1])

In [333]:
df['Ethnicity'] = pd.Categorical(df['Ethnicity'])

In [335]:
label = 'Education'
df[label] = pd.Categorical(df[label])

In [338]:
df.columns

Index(['ID', 'Home', 'Age', 'Religion', 'Ethnicity', 'Education', 'Occupation',
       'Income', 'Marital', 'Smoke', 'Smoking', 'Alcohol', 'Partner', 'P_Age',
       'P_Education', 'P_Occupation', 'P_Alcohol', 'P_Drugs', 'P_Fights',
       'P_Women', 'P_Child', 'LDEPRESSION', 'PDEPRESSION', 'Lanxiety',
       'Panxiety', 'PPTSD', 'MINIdepression', 'EV', 'CB', 'PV', 'SV', 'IPV'],
      dtype='object')

In [340]:
labels = ['Occupation', 'Income', 'Marital', 'Smoke', 'Smoking', 'Alcohol', 'Partner']
for label in labels:
    df[label] = pd.Categorical(df[label])

In [342]:
labels = ['P_Education', 'P_Occupation', 'P_Alcohol', 'P_Drugs', 'P_Fights', 'P_Women', 'P_Child']
for label in labels:
    df[label] = pd.Categorical(df[label])

In [343]:
df.dtypes

ID                   int64
Home              category
Age                  int64
Religion          category
Ethnicity         category
Education         category
Occupation        category
Income            category
Marital           category
Smoke             category
Smoking           category
Alcohol           category
Partner           category
P_Age                int64
P_Education       category
P_Occupation      category
P_Alcohol         category
P_Drugs           category
P_Fights          category
P_Women           category
P_Child           category
LDEPRESSION       category
PDEPRESSION       category
Lanxiety          category
Panxiety          category
PPTSD             category
MINIdepression    category
EV                category
CB                category
PV                category
SV                category
IPV               category
dtype: object

In [349]:
df.EV.head()

0    0
1    0
2    0
3    0
4    0
Name: EV, dtype: category
Categories (2, int64): [0, 1]

In [347]:
np.corrcoef(df.Religion, df.Ethnicity)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [352]:
cats=['Home', 'Religion', 'Ethnicity', 'Education', 'Occupation',
       'Income', 'Marital', 'Smoke', 'Smoking', 'Alcohol', 'Partner',
       'P_Education', 'P_Occupation', 'P_Alcohol', 'P_Drugs', 'P_Fights',
       'P_Women', 'P_Child', 'LDEPRESSION', 'PDEPRESSION', 'Lanxiety',
       'Panxiety', 'PPTSD', 'MINIdepression', 'EV', 'CB', 'PV', 'SV', 'IPV']
conts=['Age', 'P_Age']
dep="MINIdepression"

In [350]:
from sklearn.model_selection import train_test_split

In [353]:
trn_df,val_df = train_test_split(df, test_size=0.25)
trn_df[cats] = trn_df[cats].apply(lambda x: x.cat.codes)
val_df[cats] = val_df[cats].apply(lambda x: x.cat.codes)

In [354]:
def xs_y(df):
    xs = df[cats+conts].copy()
    return xs,df[dep] if dep in df else None

trn_xs,trn_y = xs_y(trn_df)
val_xs,val_y = xs_y(val_df)

In [355]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

m = DecisionTreeClassifier(max_leaf_nodes=4).fit(trn_xs, trn_y);

In [357]:
import graphviz

def draw_tree(t, df, size=10, ratio=0.6, precision=2, **kwargs):
    s=export_graphviz(t, out_file=None, feature_names=df.columns, filled=True, rounded=True,
                      special_characters=True, rotate=False, precision=precision, **kwargs)
    return graphviz.Source(re.sub('Tree {', f'Tree {{ size={size}; ratio={ratio}', s))

ModuleNotFoundError: No module named 'graphviz'